.header-02 {
	.header-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 40px;
	}

	.branding {
		display: flex;
		align-items: center;
		padding-right: 44px;
		border-right: 1px solid rgba(216, 216, 216, .54);
		flex-shrink: 0;
		max-width: 70%;
	}

	.header-right-info {
		display: flex;
		align-items: center;
		padding: 0 30px;
	}

	.info-wrap {
		display: flex;
		align-items: center;
	}

	.info-icon {
		font-size: 40px;
		line-height: 1;
		flex-shrink: 0;
		margin-right: 15px;
	}

	.info-text {
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.info-sub-text {
		font-size: 24px;
		font-weight: 700;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;

			> ul > li > a .menu-item-title {
				@extend %LinkTransition;
				display: inline-block;

				&:after {
					height: 1px;
					bottom: -2px;
				}
			}
		}

		.container-fluid {
			padding: 0;
		}

		.page-navigation {
			flex-grow: 1;
		}
	}

	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
		}

		.branding {
			flex-grow: 1;
		}

		.header-right {
			flex-shrink: 0;
			padding-left: 15px;
		}
	}

	.header-social-networks {
		a {
			font-size: 20px;
		}
	}
}

@media (max-width: 1350px) {
	.header-02 {
		.header-wrap {
			padding: 0;
		}

		.header-social-networks {
			display: none;
		}

		.header-right-info {
			border-left: 0;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-02 {
		.branding {
			padding: 0;
			border-right: 0;
		}

		.header-right-info {
			padding-left: 0;
		}
	}
}

@media (max-width: 620px) {
	.header-02 {
		.header-right-info {
			display: none;
		}
	}
}
