.header-04 {
	.header-wrap {
		position: relative;
		display: flex;
		align-items: center;
	}

	.header-right {
		flex-grow: 1;
		text-align: right;
		display: flex;
		justify-content: flex-end;
	}

	.branding {
		flex-shrink: 0;
	}

	.wpml-ls-item-toggle {
		padding: 18px 0;
	}

	.desktop-menu & {

		.menu--primary {
			position: static;
			text-align: right;

			.menu__container {
				> li {
					> a {
						.menu-item-wrap {
							position: relative;

							&:after {
								@extend %transit;
								content: '';
								position: absolute;
								right: 0;
								bottom: -3px;
								width: 0;
								height: 2px;
								//background: currentColor;
							}
						}
					}

					&:hover {
						> a {
							.menu-item-wrap {
								&:after {
									width: 100%;
									left: 0;
									right: auto;
								}
							}
						}
					}
				}
			}
		}
	}

	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
		}

		.branding {
			flex-grow: 1;
		}

		.header-right {
			flex-shrink: 0;
		}
	}

	.header-button {
		.tm-button {
			display: flex;
			align-items: center;
			height: 40px;
			line-height: 40px;
			font-size: 18px;
			padding: 0 15px;
			border: 0;
		}

		span {
			font-size: 24px;
			margin-right: 7px;
		}
	}
}
