.editor-styles-wrapper {
	font-family: 'Roboto', sans-serif;

	.wp-block.editor-post-title__block {
		position: relative;
		padding: 0;
		margin-bottom: 37px;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 14px;
			width: calc(100% - 28px);
			height: 1px;
			border-bottom: 1px solid #d9d9d9;
		}
		.editor-post-title__input {
			font-size: 40px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			color: #223645;
		}
	}

	.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content,
	.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
	.editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit::before {
		top: -8px;
		left: -8px;
		right: -8px;
		bottom: -8px;
	}

	.editor-block-list__layout .editor-block-list__block[data-align=full]>.editor-block-list__block-edit::before {
		left: 0;
		right: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

	.wp-block {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: 400;
		color: #888;
		max-width: 100%;
		margin-bottom: 15px;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		b,
		strong,
		.editor-post-title__block .editor-post-title__input {
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			margin-top: 0;
			color: #223645;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.44;
			margin-bottom: 0;
		}
		h1 {
			font-size: 56px;
		}
		h2 {
			font-size: 42px;
		}
		h3 {
			font-size: 32px;
		}
		h4 {
			font-size: 24px;
		}
		h5 {
			font-size: 20px;
		}
		h6 {
			font-size: 14px;
		}

		a {
			color: #223645;
			text-decoration: none;
		}

		p {
			font-size: 14px;
		}

		blockquote {
			position: relative;
			margin: 0;
			padding: 26px 30px 26px 75px;
			margin-bottom: 1.5em;
			border: 2px solid #FEBC35;
			border-left: 2px solid #FEBC35;
			font-size: 18px;
			font-weight: 400;
			font-style: italic;
			color: #223645;
			&:before {
				position: absolute;
				top: 50%;
				left: 25px;
				transform: translateY(-50%);
				content: '\f347';
				font-family: Ionicons;
				font-size: 24px;
				font-weight: normal;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				color: #FEBC35;
			}
			a {
				text-decoration: underline;
			}
			p {
				font-size: 18px;
				font-weight: 400;
				color: #222;
				margin: 0;
			}
		}

		ol {
			list-style: decimal;
		}
		ul,
		ol {
			padding-left: 40px;
			margin: 14px 0;
			ul {
				ul {
					list-style-type: square;
				}
			}
		}
		li > ul,
		li > ol {
			margin-top: 0;
			margin-bottom: 0;
		}
		dd, li {
			margin-bottom: 0;
		}

		.wp-block-quote {
			&.is-large {
				p {
					font-size: 24px;
				}
				.wp-block-quote__citation {
					font-size: 18px;
				}
			}
		}
	}

	.wp-block[data-align=full] {
		position: relative;
		left: calc(-12.5% - 12px);
		width: calc(125% + 114px);
		max-width: calc(125% + 114px);

		.wp-block-pullquote {
			margin: 20px auto;
		}
	}

	.wp-block[data-align=wide] {
		position: relative;
		width: 100%;
		max-width: 100%;
		clear: both;

		@media only screen and (min-width: 1280px) {
			width: calc(100% + 400px);
			max-width: calc(100% + 400px);
			left: -200px;
		}

		@media only screen and (min-width: 1200px) {
			width: calc(100% + 200px);
			max-width: calc(100% + 200px);
			left: -100px;
		}

		@media only screen and (min-width: 1024px) {
			width: calc(100% + 100px);
			max-width: calc(100% + 100px);
			left: -50px;
		}
	}

	pre {
		font-size: 15px;
		overflow: auto;
		margin-bottom: 1.6em;
		padding: 1.6em;
		max-width: 100%;
		background: #eee;
		color: #7a8a9e;
		font-family: "Courier 10 Pitch", Courier, monospace;
		line-height: 1.6;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}

	dt {
		font-weight: 700;
		color: #223645;
	}
	dd {
		margin: 0 1.5em 1.5em;
	}

	table {
		margin: 0 0 1.5em;
		width: 100%;
		text-align: center;
		td, th {
			border: 1px solid rgba(0, 0, 0, .08);
			padding: 10px;
			vertical-align: middle;
		}
		th {
			font-weight: 700;
			color: #222;
			background: url('assets/images/th_bg.png') repeat-x top left;

			&.empty {
				visibility: hidden;
				border: 0;
				background: none;
			}
		}
		tr:nth-child(2n) {
			td {
				background: rgba(0, 0, 0, .01);
			}
		}
		.wp-block-table__cell-content {
			padding: 0;
		}
	}

	img {
		vertical-align: top;
	}

	dfn,
	cite,
	em,
	i {
		font-style: italic;
	}

	address {
		margin: 0 0 1.5em;
	}

	pre {

	}

	code,
	kbd,
	tt,
	var {
		font-size: 15px !important;
		font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace !important;
	}

	code {
		background-color: transparent !important;
		color: #7a8a9e !important;
	}

	kbd {
		background-color: transparent !important;
	}

	abbr,
	acronym {
		border-bottom: 1px dotted #666;
		cursor: help;
	}

	mark,
	ins {
		background: #fff9c0;
		text-decoration: none;
	}

	big {
		font-size: 125%;
	}

	b, strong {
		font-weight: bolder !important;
	}

	.wp-block-latest-posts {
		margin: 16px 0;
		padding: 0;
		padding-left: 0 !important;
		list-style: none;
		li {
			margin-bottom: 12px;
		}
	}

	.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left: 2px solid #FEBC35;
		padding-left: 75px;
	}

	.wp-block-categories {
		.wp-block-categories__list {
			list-style: none;
			padding: 0;
			text-align: left;
			li {
				margin-bottom: 8px;
				ul, ol {
					list-style: none;
					padding-left: 20px;
					margin-top: 10px;
				}
			}
			.wp-block-categories__post-count {
				color: #223645;
			}
		}
	}

	.wp-block-archives {
		&.wp-block-archives-list {
			list-style: none;
			padding: 0;
			text-align: left;
			li {
				margin-bottom: 8px;
				ul, ol {
					list-style: none;
					padding-left: 20px;
					margin-top: 10px;
				}
			}
			.wp-block-categories__post-count {
				color: #223645;
			}
		}
	}

	.wp-block-pullquote {
		font-size: 28px;
		border: 0;
		margin: 20px 0;
		padding: 0;

		&.alignwide,
		&.alignfull {
			margin: 20px 0;
		}

		&.alignleft {
			margin: 20px 20px 20px 0;
		}

		&.alignright {
			margin: 20px 0 20px 20px;
		}

		&.alignleft,
		&.alignright {
			max-width: 40%;
			blockquote,
			blockquote p {
				font-size: 20px;
			}
		}

		blockquote {
			border: 4px solid #FEBC35;
			border-left: 4px solid #FEBC35;
			margin-bottom: 0;
			padding: 46px 30px 46px 75px;
			p {
				font-size: 28px;
			}
		}
		.wp-block-pullquote__citation {
			margin-top: 1em;
			display: block;
		}
		&.is-style-solid-color {
			blockquote {
				max-width: 100%;
			}
		}
	}

	.wp-block-separator {
		clear: both;
	}

	.wp-block-cover .wp-block-cover-image-text,
	.wp-block-cover .wp-block-cover-text,
	.wp-block-cover h2,
	.wp-block-cover-image .wp-block-cover-image-text,
	.wp-block-cover-image .wp-block-cover-text,
	.wp-block-cover-image h2 {
		font-size: 2em;
	}

	.wp-block {
		&.alignleft {
			max-width: calc(4 * (100vw / 12));
			margin-right: calc(2 * 1rem);
		}

		ul.wp-block-gallery,
		ol.wp-block-gallery {
			padding-left: 0;
		}
	}

	.wp-block-gallery .blocks-gallery-image,
	.wp-block-gallery .blocks-gallery-item {
		margin-bottom: 16px;
	}

	.wp-block-file {
		.wp-block-file__textlink {
			color: #223645;
		}
	}

}

@media only screen and (min-width: 768px) {
	.editor-styles-wrapper {
		.editor-writing-flow {
			max-width: 80%;
			margin: 0 10%;
		}
	}
}
