.tm-attribute-list {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.list-item {
		padding: 20px 0;
		border-bottom: 1px solid #eee;
	}

	.list-item-header {
		display: flex;
		align-items: center;
	}

	.item-icon {
		min-width: 40px;
	}

	&.style-01 {
		.item-icon {
			color: red;
			font-size: 24px;
			line-height: 1;
		}
	}

	@include media-breakpoint-up(md) {
		.list-item {
			display: flex;
			align-items: flex-start;
		}

		.list-item-header {
			width: 40%;
			max-width: 350px;
			flex-shrink: 0;
		}

		.list-item-content {
			flex-grow: 1;
		}
	}
}
