.tm-testimonial {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	/*&.has-pagination {
		margin-bottom: 71px;
	}*/

	.swiper-pagination {
		bottom: -60px;
	}

	.post-thumbnail {
		img {
			border-radius: 50%;
		}
	}

	.testimonial-rating {
		font-size: 20px;
		color: #f8c823;
	}

	.testimonial-desc {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.testimonial-by-line {
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		color: #888;
	}

	&.style-1 {

		.swiper-container {
			padding-top: 10px;
		}

		.testimonial-item {
			@extend %transit;
			width: 100%;

			&:hover {
				transform: translateY(-10px);
			}
		}

		.testimonial-content {
			position: relative;
			width: 100%;
			background-color: #fff;
			box-shadow: 0 0 5px rgba(0, 0, 0, .05);
			padding: 30px 25px 30px;

			&:before {
				position: absolute;
				top: calc(100% - 3px);
				left: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 35px 35px 0 0;
				border-color: #fff transparent transparent transparent;
				filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.05));
			}
		}

		.testimonial-info {
			padding-top: 40px;
			display: flex;
			align-items: center;
		}

		.post-thumbnail {
			flex-shrink: 0;
		}

		.testimonial-main-info {
			flex-grow: 1;
			margin-left: 20px;
		}

		.testimonial-name {
			font-size: 18px;
			margin-bottom: 2px;
		}

		.testimonial-rating {
			margin-top: 25px;
		}
	}

	&.style-2 {

		margin-left: -15px;
		margin-right: -15px;

		.swiper-slide {
			padding: 15px;
		}

		.testimonial-item {
			@extend %transit2;
			position: relative;
		}

		.testimonial-info {
			display: flex;
			align-items: center;
		}

		.post-thumbnail {
			flex-shrink: 0;
		}

		.testimonial-main-info {
			flex-grow: 1;
			margin-left: 20px;
		}

		.testimonial-name {
			font-size: 18px;
			margin-bottom: 4px;
		}

		.testimonial-desc {
			font-size: 34px;
			font-weight: 400;
			line-height: 45px;
			margin-bottom: 27px;
			@include media-breakpoint-down(sm) {
				font-size: 24px;
				line-height: 38px;
			}
		}

		.testimonial-rating {
			margin-bottom: 25px;
		}
	}

	&.style-3 {

		.testimonial-item {
			@extend %transit;
			position: relative;
		}

		.post-thumbnail {
			margin-bottom: 30px;
			img {
				border-radius: 0;
				width: 100%;
			}
		}

		.testimonial-info {
			position: relative;
			flex-grow: 1;
		}

		.quote-icon {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 54px;
			height: 54px;
			line-height: 58px;
			text-align: center;
		}

		.testimonial-name {
			font-size: 20px;
			margin-bottom: 15px;
		}

		.testimonial-by-line {
			&:before {
				content: ' - ';
			}
		}

		.testimonial-rating {
			margin-top: 10px;
		}

		@include media-breakpoint-up(sm) {
			.testimonial-item {
				display: flex;
			}
			.post-thumbnail {
				width: 250px;
				height: 190px;
				flex-shrink: 0;
				margin-right: 30px;
				margin-bottom: 0;
			}
		}
	}

	&.style-4 {
		.testimonial-item {
			width: 800px;
			max-width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		.testimonial-rating {
			margin-bottom: 20px;
		}
		.testimonial-name {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		.testimonial-desc {
			font-size: 30px;
			margin-bottom: 17px;
		}
		.testimonial-by-line {
			font-size: 15px;
			color: #999;
			&:before {
				content: ' / ';
			}
		}
	}

	&.style-5 {
		.swiper-container {
			padding-top: 20px;
		}

		.testimonial-item {
			@extend %transit;
			background: #fff;
			overflow: hidden;
			padding: 35px 37px 43px;

			&:hover {
				transform: translateY(-20px);
			}
		}

		.post-thumbnail {
			width: 80px;
			height: 80px;
			margin-bottom: 48px;

			img {
				border-radius: 50%;
			}
		}

		.testimonial-info {
			position: relative;
			flex-grow: 1;
		}

		.testimonial-desc {
			margin-bottom: 35px;
		}

		.testimonial-name {
			font-size: 18px;
			margin-bottom: 4px;
		}

		.testimonial-rating {
			margin: 0 0 18px;
		}
	}

	&.style-6 {
		margin-top: -10px;

		.swiper-container {
			padding-top: 10px;
		}

		.testimonial-item {
			@extend %transit;
			width: 100%;

			&:hover {
				transform: translateY(-10px);
			}
		}

		.testimonial-content {
			position: relative;
			width: 100%;
			background-color: #f7f7f7;
			padding: 33px 30px 42px;

			&:before {
				position: absolute;
				top: 100%;
				left: 43px;
				content: '';
				width: 0;
				height: 0;
				border: 12px solid transparent;
				border-color: transparent transparent #f7f7f7 #f7f7f7;
				transform-origin: 0 0;
				transform: rotate(-45deg);
			}
		}

		.testimonial-rating {
			margin-bottom: 14px;
		}

		.testimonial-info {
			padding: 40px 0 0 30px;
			display: flex;
			align-items: center;
		}

		.post-thumbnail {
			flex-shrink: 0;
		}

		.testimonial-main-info {
			flex-grow: 1;
			margin-left: 20px;
		}

		.testimonial-name {
			font-size: 15px;
			margin-bottom: 2px;
		}
	}

	&.style-7 {
		margin-left: 0;
		margin-right: 0;

		.swiper-container {
			padding: 0;
		}

		.swiper-slide {
			opacity: .3;
			.testimonial-rating, .testimonial-info {
				opacity: 0;
				@include transit;
			}
			&.swiper-slide-active {
				opacity: 1;
				.testimonial-rating, .testimonial-info {
					opacity: 1;
				}
			}
			@include media-breakpoint-down(md) {
				width: 100% !important;
			}
		}

		.testimonial-item {
			@extend %transit2;
			position: relative;
		}

		.testimonial-info {
			display: flex;
			align-items: center;
		}

		.post-thumbnail {
			flex-shrink: 0;
		}

		.testimonial-main-info {
			flex-grow: 1;
			margin-left: 20px;
			.testimonial-by-line {
				font-style: normal;
			}
		}

		.testimonial-name {
			font-size: 18px;
			margin-bottom: 4px;
		}

		.testimonial-desc {
			font-size: 34px;
			font-weight: 400;
			line-height: 45px;
			margin-bottom: 27px;
			@include media-breakpoint-down(sm) {
				font-size: 24px;
				line-height: 38px;
			}
		}

		.testimonial-rating {
			margin-bottom: 25px;
		}
	}

	&.style-8 {
		margin-left: 0;
		margin-right: 0;
		text-align: left;
		position: relative;

		.testi-quote {
			width: 116px;
			height: 87px;
			display: block;
			position: absolute;
			top: -87px;
			right: 0;

			svg {
				g {
					fill: $color__primary;
				}
			}
		}

		.swiper-container {
			padding: 0;
		}

		.testimonial-item {
			@extend %transit2;
			position: relative;
		}

		.post-thumbnail {
			margin-bottom: 60px;
		}

		.testimonial-main-info {
			.testimonial-name {
				font-size: 20px;
				font-weight: 700;
				color: #222;
				margin-bottom: 4px;
			}

			.testimonial-by-line {
				display: block;
				font-size: 16px;
				font-style: italic;
			}
		}

		.testimonial-desc {
			font-size: 26px;
			font-weight: 700;
			line-height: 40px;
			margin-bottom: 30px;
			color: #222;
			@include media-breakpoint-down(sm) {
				font-size: 24px;
				line-height: 38px;
			}
			.s1 {
				&:before, &:after {
					content: '"';
				}
			}
		}

		.testimonial-rating {
			margin-bottom: 40px;
		}

		&.pagination-style-8 {
			margin-bottom: 0;

			.swiper-pagination {
				bottom: 0;
				text-align: right;
				font-size: 18px;
				font-weight: 700;
				color: #888;
				letter-spacing: 2px;

				.swiper-pagination-current {
					color: $color__primary;
				}
			}
		}
	}

	&.style-9 {
		.testimonial-title {
			font-size: 40px;
			border-bottom: 1px solid #eee;
			padding-bottom: 20px;
			margin: 0 20px 60px;
			&:before {
				content: '\f3f9';
				font-family: Ionicons;
				font-size: 48px;
				line-height: 48px;
				margin-right: 10px;
				color: #888;
			}
		}

		.testimonial-item {
			@extend %transit;
			position: relative;
			padding: 40px 30px;
			background-color: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);

			&:before {
				position: absolute;
				top: calc(100% - 3px);
				left: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 35px 35px 0 0;
				border-color: #fff transparent transparent transparent;
				filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.05));
			}
		}

		.testimonial-item {
			display: flex;
		}

		.post-thumbnail {
			flex-shrink: 0;
			margin-right: 30px;
			img {
				width: 90px;
				height: 90px;
				border-radius: 50%;
			}
		}

		.testimonial-info {
			position: relative;
			flex-grow: 1;
		}

		.quote-icon {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 54px;
			height: 54px;
			line-height: 58px;
			text-align: center;
		}

		.testimonial-name {
			font-size: 20px;
			margin-bottom: 15px;
		}

		.testimonial-by-line {
			&:before {
				content: ' - ';
			}
		}

		.testimonial-rating {
			margin-bottom: 10px;
		}
	}
}

.tm-testimonial-pagination {
	width: 360px;
	height: 85px;
	margin: 0 auto 55px;
	text-align: center;

	img {
		transition: all .6s ease 0s;
		width: 85px;
	}

	.swiper-slide {
		&:not(.swiper-slide-active) {
			cursor: pointer;

			img {
				opacity: .4;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

@media (min-width: 1600px) {
	.tm-testimonial {
		&.style-1 {
			.testimonial-content {
				box-shadow: 0 0 30px rgba(0, 0, 0, .05);
			}
		}
	}
}
