.tm-project {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.tm-grid-pagination {
		margin-top: 20px;
	}

	.post-thumbnail {
		position: relative;

		img {
			@extend %transit2;
			width: 100%;
		}
	}

	.post-categories {
		font-size: 15px;

		a {
			color: inherit;
			font-size: inherit;
		}
	}

	.post-title {
		font-size: 20px;
		line-height: 1.3;

		a {
			font-size: inherit;
		}
	}

	&.style-feature-left {
		.project-item {
			.post-title {
				margin-bottom: 10px;
			}

			.post-read-more {
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 700;

				.btn-text {
					@extend %LinkTransition;
				}

				.btn-icon {
					margin-left: 5px;
				}
			}

			&.featured-project {
				position: relative;
				grid-row: 1 / 3;
				background-size: cover;
				//@extend %FlashEffect;
				min-height: 530px;

				.post-info {
					@extend %transit;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 60%;
					background-color: rgba(255, 255, 255, .9);
					padding: 30px;
				}

				&:hover {
					.post-info {
						background-color: $color__primary;
						color: #fff;
					}

					.post-title a,
					.post-read-more a {
						color: #fff;
					}
				}
			}

			&.normal-project {
				.post-item-wrap {
					@extend %transit;
					position: relative;
					display: flex;
					align-items: center;
					background-color: #f5f5f5;

					&:hover {
						background-color: $color__primary;
						color: #fff;

						.post-title a,
						.post-read-more a {
							color: #fff;
						}
					}
				}

				.post-thumbnail-wrap {
					//@extend %FlashEffect;
					width: 45%;
					background-size: cover;
					min-height: 250px;

					a {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}

				.post-info {
					width: 55%;
					padding: 30px;
				}
			}
		}
	}

	&.style-grid-caption,
	&.style-carousel {
		.post-item-wrap {
			@extend %transit2;
			background: #ffffff;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);

			&:hover {
				.post-thumbnail-wrap {
					img {
						transform: scale(1.1);
					}

					&:before {
						background-color: rgba(0, 0, 0, 0.2);
					}
				}
			}
		}

		.post-thumbnail-wrap {
			margin: -1px -1px 0;
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				@include transit2;
			}

			&:before {
				@include transit;
				display: inline-block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0);
				z-index: 2;
			}
		}

		.post-info {
			padding: 20px 30px;
		}

		.post-categories {
			margin: 5px 0 10px;
		}

		.post-title {
			line-height: 1.41;
			margin-bottom: 10px;
		}

		.project-info {
			margin-top: 5px;
			font-size: 14px;
			color: #757575;

			i {
				margin-right: 8px;
				font-size: 16px;
				font-weight: 500;
			}

			&-label {
				color: $color__heading;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-project {
		&.style-carousel {
			.post-item-wrap {
				display: block;
			}
		}
	}
}

