.tm-mailchimp-form {
	.subscribe-form {
		display: flex;
		margin: 0 -15px;
	}

	.form-item {
		padding: 0 15px;
		&.flex-auto {
			flex-grow: 1;
		}

		&.flex-shrink {
			flex-shrink: 0;
		}
	}

	button {
		i {
			display: none;
		}
	}

	&.style-1 {
		input[type='email'] {
			height: 50px;
			border: 0;
			margin-bottom: 30px;
			background-color: transparent;
			border-bottom: 2px solid $color__primary;
		}

		.form-submit {
			height: 50px;
			line-height: 46px;
		}
	}

	&.style-2 {
		input[type='email'] {
			height: 50px;
			border: 1px solid #ddd;
			padding: 0 15px;
			margin-bottom: 20px;
		}

		.form-submit {
			height: 50px;
			line-height: 46px;
			&:hover {
				background-color: #fff;
				border-color: #fff;
			}
		}
	}

	&.style-3 {

		.mc4wp-form {
			position: relative;
			overflow: hidden;
			margin: 0 auto;
		}

		input[type='email'] {
			background: rgba(69, 69, 69, .3);
			padding: 3px 155px 3px 15px;
			border: 0;
			color: #fff;

			&::-webkit-input-placeholder {
				color: inherit;
			}

			&:-moz-placeholder {
				color: inherit;
			}

			&::-moz-placeholder {
				color: inherit;
			}

			&:-ms-input-placeholder {
				color: inherit;
			}
		}

		.form-submit {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 31px;
			background: #fff;
			border-color: #fff;
		}
	}

	&.style-4 {
		position: relative;

		.mc4wp-form-fields {
			display: flex;

			> div {
				&:first-child {
					flex-grow: 1;
				}

				+ div {
					flex-shrink: 0;
				}
			}
		}

		input[type='email'] {
			background: rgba(255, 255, 255, .1);
			box-shadow: 0 0 20px rgba(0, 0, 0, .06);
			border: 0;
			padding: 0 15px;
		}

		.form-submit {
			margin-left: 20px;
			padding: 0 34px;
		}
	}

	&.style-5 {
		input[type='email'] {
			height: 50px;
			border: 1px solid #ddd;
			padding: 0 15px;
			margin-bottom: 20px;
		}

		.form-submit {
			height: 50px;
			line-height: 46px;
		}
	}

	&.style-6 {
		.mc4wp-form-fields {
			position: relative;
		}

		input[type='email'] {
			padding: 0 15px;
			border: 0;

			&::-webkit-input-placeholder {
				color: inherit;
			}

			&:-moz-placeholder {
				color: inherit;
			}

			&::-moz-placeholder {
				color: inherit;
			}

			&:-ms-input-placeholder {
				color: inherit;
			}
		}

		.form-submit {
			border: 0;
			border-left: 1px solid transparent;
			background: none;
			font-size: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0;
			width: 50px;
			height: 50px;
			padding: 0;

			&:hover {
				&:after {
					transform: translate(-50%, -50%) scale(1.1, 1.1);
				}
			}

			&:after {
				@extend %transit;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: Ionicons;
				content: '\f2eb';
				font-size: 20px;
			}
		}
	}

	&.style-7 {
		.mc4wp-form-fields {
			position: relative;
		}

		.mc4wp-form {
			input[type='email'] {
				padding: 0 15px;
				border-color: rgba(255, 255, 255, .07);
				background-color: rgba(255, 255, 255, .06);
				color: #fff;

				&:focus {
					border-color: rgba(255, 255, 255, .5);
				}
			}
		}

		.form-submit {
			border: 0;
			border-left: 1px solid transparent;
			background: none;
			font-size: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0;
			width: 50px;
			height: 50px;
			color: #fff;
			padding: 0;

			&:hover {
				&:after {
					transform: translate(-50%, -50%) scale(1.1, 1.1);
				}
			}

			&:after {
				@extend %transit;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: Ionicons;
				content: '\f2eb';
				font-size: 20px;
			}
		}
	}

	&.style-8 {
		input[type='email'] {
			height: 50px;
			border-bottom: 2px solid #ddd;
			margin-bottom: 20px;
			background-color: transparent;
		}

		.form-submit {
			height: 50px;
			line-height: 50px;
			border: 0;
			color: #fff;
			background-position: left center;
			background-size: 200% auto;

			&:hover {
				background-position: right center !important;
			}
		}
	}

	&.style-9 {
		.mc4wp-form-fields {
			display: flex;
		}

		.form-input {
			flex-grow: 1;
		}

		.form-submit-wrap {
			flex-shrink: 0;
		}

		input[type='email'] {
			padding: 0 20px;
			border-color: transparent;
			background: #fff;
			box-shadow: 0 20px 40px rgba(0, 0, 0, .09);
		}

		.form-submit {
			position: relative;
			font-size: 0;
			width: 50px;
			height: 50px;
			padding: 0;
			border: 0;
			color: #fff !important;

			&:hover {
				&:after {
					transform: translate(-50%, -50%) scale(1.1, 1.1);
				}
			}

			&:after {
				@extend %transit;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: Ionicons;
				content: '\f2eb';
				font-size: 20px;
			}
		}
	}

	&.style-10 {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.title {
			font-size: 18px;
			font-weight: 500;
			color: #999;
			margin-right: 30px;
		}

		.mc4wp-form-fields {
			position: relative;

			input[type='email'] {
				padding: 0 60px 0 30px;
				border-radius: 0;
				border: 1px solid #ddd;
				background: #fff;
				height: 50px;
				line-height: 48px;
			}

			.form-submit {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 0;
				width: 50px;
				height: 50px;
				padding: 0;
				border: 0;
				border-radius: 0;
				background-color: transparent;
				&:after {
					@extend %transit;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: Ionicons;
					content: '\f2eb';
					font-size: 20px;
				}
			}
		}
	}

	&.style-11 {
		.mc4wp-form-fields {
			position: relative;
		}

		input[type='email'] {
			background-color: transparent;
			color: #888;

			&::-webkit-input-placeholder {
				color: inherit;
			}

			&:-moz-placeholder {
				color: inherit;
			}

			&::-moz-placeholder {
				color: inherit;
			}

			&:-ms-input-placeholder {
				color: inherit;
			}
		}

		.form-submit {
			border: 0;
			border-left: 1px solid transparent;
			background: none;
			font-size: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0;
			width: 50px;
			height: 50px;
			padding: 0;
			text-align: right;

			&:after {
				@extend %transit;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				font-family: Ionicons;
				content: '\f10b';
				font-size: 18px;
				font-weight: 500;
				color: #fff;
			}
		}
	}
}

@include media-breakpoint-only(xs) {
	.tm-mailchimp-form {

		&.style-2 {
			.mc4wp-form-fields {
				display: block;
			}
		}

		&.style-1,
		&.style-2,
		&.style-3 {
			input[type='email'] {
				padding: 3px 20px;
			}

			.form-submit {
				position: relative;
				display: block;
				border-radius: 5px;
				margin: 20px auto 0;
			}
		}
	}
}
