@keyframes sonarEffect {
	0% {
		opacity: .3;
	}
	40% {
		opacity: .5;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 10px 10px #6ca70d, 0 0 0 10px rgba(255, 255, 255, .5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 10px 10px #6ca70d, 0 0 0 10px rgba(255, 255, 255, .5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.tm-box-icon {
	@extend %clearfix;
	margin-bottom: 60px;
	position: relative;

	.icon {
		line-height: 1;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.content-wrap {
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.tm-svg {
		line-height: 0;
		* {
			stroke: currentColor;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	&.style-1 {

		&:hover {
			.image {
				transform: translateY(-10px);
			}
		}

		.image {
			@extend %transit;
			width: 100%;
		}

		.icon {
			font-size: 54px;
		}

		.tm-svg {
			width: 54px;
		}

		.icon,
		.image {
			margin-bottom: 30px;
		}

		.heading {
			font-size: 20px;
			line-height: 1.2;
			margin-bottom: 19px;
		}

		.text {
			max-width: 350px;
		}

		.tm-box-icon__btn {
			position: relative;
			display: inline-block;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin-top: 20px;
			color: $color__primary;
			border-bottom: 2px solid #eee;
			padding-bottom: 2px;
			&:after {
				content: '';
				position: absolute;
				bottom: -2px;
				right: 0;
				width: 0;
				height: 2px;
				background-color: $color__primary;
				@include transit;
			}
			&:hover {
				&:after {
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}
	}

	&.style-2 {
		.icon {
			@extend %transit2;
			position: relative;
			font-size: 70px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-bottom: 53px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50%;
				opacity: .1;
				background: currentColor;
			}

			span {
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		svg {
			width: 50px;
		}

		.image {
			margin-bottom: 23px;
			@extend %transit2;
		}

		.heading {
			font-size: 16px;
			font-weight: 500;
		}

		.text {
			margin-top: 15px;
		}

		.tm-box-icon__btn {
			position: relative;
			display: inline-block;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin-top: 20px;
			color: $color__primary;
			border-bottom: 2px solid #eee;
			padding-bottom: 2px;
			&:after {
				content: '';
				position: absolute;
				bottom: -2px;
				right: 0;
				width: 0;
				height: 2px;
				background-color: $color__primary;
				@include transit;
			}
			&:hover {
				&:after {
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}
	}

	&.style-3 {
		&:hover {
			.image,
			.icon {
				animation: box-image-pop .3s linear;
			}
		}

		.icon {
			width: 70px;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid;
			font-size: 30px;
			font-weight: 500;
			margin-bottom: 35px;
			margin-right: 30px;
		}

		.tm-svg {
			width: 60px;
		}

		.content-inner {
			display: flex;
		}

		.image {
			@extend %transit;
			min-width: 60px;
			margin-right: 20px;
			flex-shrink: 0;
		}

		.content {
			flex-grow: 1;
		}

		.heading {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	&.style-4 {

		&:hover {
			.icon {
				animation: box-image-pop .3s linear;
			}
		}

		.icon {
			@extend %transit2;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			font-size: 30px;
			font-weight: 500;
			width: 70px;
			height: 70px;
			border: 2px solid;
		}

		svg {
			width: 50px;
		}

		.icon,
		.image {
			margin-bottom: 30px;
		}

		.heading {
			font-size: 20px;
		}

		.text {
			margin-top: 14px;
			max-width: 300px;
		}
	}

	&.style-5 {

		&:hover {
			.content-wrap {
				box-shadow: 0 20px 40px rgba(0, 0, 0, 0.09);
			}
			.icon-image-wrap {
				transform: translate(-50%, -20px);
				border-color: red;
			}
		}

		.content-wrap {
			@extend %transit2;
			position: relative;
			padding-top: 110px;
			background: #fff;
		}

		.content {
			padding: 0 30px 40px;
		}

		.icon-image-wrap {
			@include transit;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 110px;
			height: 110px;
			border: 5px solid transparent;
			border-radius: 50%;
			background-color: #fff;
			margin-bottom: 28px;
		}

		.image {
			margin: 0 25px;
		}

		.icon {
			font-size: 50px;
			text-align: center;
			margin: 0 25px;
		}

		.tm-svg {
			width: 50px;
		}

		.heading {
			font-size: 24px;
		}

		.text {
			margin-top: 15px;
			max-width: 300px;
		}

		.tm-box-icon__btn {
			width: 100%;
			background-color: #ddd;
			padding: 20px 17px;
			margin-top: 0;
			text-align: center;
			color: #222;
			&:hover {
				color: #222;
			}
		}
	}

	&.style-6 {
		width: 100%;

		.tm-slider-group.equal-height & {
			height: 100%;
			.content-item-wrap {
				height: 100%;
			}
		}
		.content-item-wrap {
			display: flex;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.11);
			background-color: #fff;
		}

		.item-col {
			display: flex;
			align-items: center;
			width: 50%;
		}

		.image-wrap {
			display: block;
			background-color: #f7f7f7;
		}

		.content {
			padding: 35px 33px 50px;
		}

		.icon {
			font-size: 60px;
			margin-bottom: 40px;
		}

		.heading {
			font-size: 24px;
			margin-bottom: 18px;
		}
	}

	&.style-7 {
		margin-bottom: 0;

		&:hover {
			.content-wrap {
				transform: translate(0, -10px);
			}
			.icon-image-wrap {
				transform: translate(-50%, -20px);
				border-color: red;
				background-color: #fff;
			}
			.tm-box-icon__btn {
				opacity: 1;
				visibility: visible;
				margin-top: 30px;
			}
		}

		.content-wrap {
			@extend %transit2;
			position: relative;
			padding-top: 110px;
		}

		.content {
			padding: 0 30px;
		}

		.icon-image-wrap {
			@include transit;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 110px;
			height: 110px;
			border: 5px solid transparent;
			border-radius: 50%;
			margin-bottom: 28px;
		}

		.image {
			margin: 0 25px;
		}

		.icon {
			font-size: 50px;
			text-align: center;
			margin: 0 25px;
		}

		.tm-svg {
			width: 50px;
		}

		.heading {
			font-size: 24px;
		}

		.text {
			margin-top: 15px;
			max-width: 300px;
		}

		.tm-box-icon__btn {
			position: relative;
			text-align: center;
			color: #222;
			padding-bottom: 3px;
			border-bottom: 2px solid #eee;
			opacity: 0;
			visibility: hidden;
			margin-top: 30px;
			&:after {
				content: '';
				width: 0;
				height: 2px;
				background-color: red;
				position: absolute;
				bottom: -2px;
				right: 0;
				@include transit;
			}
			&:hover {
				&:after {
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}
	}

	&.style-8 {
		margin-bottom: 30px;

		.content-wrap {
			background-color: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
			@include transit;

			.image-wrap {
				width: 100%;
				img {
					width: 100%;
					height: auto;
				}
			}

			.content {
				padding: 30px;

				.heading {
					font-size: 20px;
					line-height: 1.3;
					margin-bottom: 12px;
				}
			}

			a.tm-button {
				position: relative;
				color: #222;
				height: 50px;
				line-height: 50px;
				padding: 0 20px;
				margin: 0;
				display: block;
				width: 100%;
				border-top: 1px solid #eee;
				position: relative;

				&:before {
					content: '';
					width: 0;
					height: 100%;
					background-color: red;
					position: absolute;
					top: 0;
					right: 0;
					@include transit;
				}

				.button-text {
					position: relative;
					z-index: 2;
				}

				.button-icon {
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					color: $color__primary;
					z-index: 2;
				}

				&:hover {
					color: #fff;

					.button-icon {
						color: #fff;
					}

					&:before {
						width: 100%;
						left: 0;
						right: auto;
					}
				}
			}
		}

		&:hover {
			.content-wrap {
				transform: translateY(-20px);
			}
		}
	}

	&.style-9 {

		&:hover {
			.image {
				transform: translateY(-10px);
			}
		}

		.image {
			@extend %transit;
			width: 100%;
		}

		.icon {
			font-size: 54px;
		}

		.tm-svg {
			width: 54px;
		}

		.image {
			width: 100%;
			margin-bottom: 30px;
		}

		.icon {
			margin-bottom: 30px;
			padding-bottom: 30px;
			width: 100%;
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 1px;
				background-color: #222;
				opacity: .27;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		.heading {
			font-size: 20px;
			line-height: 1.2;
			margin-bottom: 19px;
		}

		.text {
			max-width: 350px;
		}
	}

	&.style-10 {
		.heading-wrap {
			display: flex;
			align-items: flex-end;
			margin-bottom: 25px;
			&:hover {
				.icon {
					color: $color__primary;
				}
			}
		}

		.image {
			width: 50px;
			margin-right: 20px;
		}

		.icon {
			@extend %transit;
			font-size: 50px;
			margin-right: 20px;
			color: #222;
		}

		.tm-svg {
			width: 50px;
			margin-right: 20px;
		}

		.heading {
			font-size: 20px;
		}
	}

	&.style-11 {
		.content-wrap {
			position: relative;
			background-color: #fff;
			box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
			padding: 40px 35px 30px;
			&:before {
				position: absolute;
				bottom: 0;
				right: 0;
				content: '';
				width: 0;
				height: 5px;
				background-color: $color__primary;
				@extend %transit;
			}

			&:hover {
				&:before {
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}

		.image {
			width: 80px;
			margin-bottom: 30px;
		}

		.icon {
			font-size: 80px;
			margin-bottom: 30px;
			color: $color__primary;
		}

		.tm-svg {
			width: 80px;
			margin-bottom: 30px;
		}

		.heading {
			font-size: 20px;
		}

		.text {
			margin-top: 10px;
		}

		.tm-box-icon__btn {
			margin-top: 20px;
		}
	}

	&.text-18 {
		.text {
			font-size: 18px;
		}
	}

	.tm-box-icon__btn {
		margin-top: 34px;
		text-align: left;

		.button-icon {
			font-size: 16px;
			position: relative;
			top: 1px;
			left: auto;
			right: auto;
			transform: none;
			margin-left: 3px;
		}
	}
}

@-webkit-keyframes box-image-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes box-image-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}
