.tm-gallery-slider {
	.lslide {
		position: relative;
	}
	.lSAction > a {
		width: 50px;
		opacity: 1;
		background: none;
	}
	.lSAction {
		.nav-button-icon {
			&:before {
				content: '\f3cf';
				font-family: Ionicons;
				font-size: 18px;
				color: #222;
				display: inline-block;
				width: 50px;
				height: 50px;
				line-height: 46px;
				text-align: center;
				border: 1px solid #ddd;
				border-radius: 50%;
				background-color: #fff;
				@include transit;
			}
		}
		.lSPrev,
		.lSNext {
			&:hover {
				.nav-button-icon {
					&:before {
						color: #fff;
					}
				}
			}
		}
		.lSPrev {
			left: 15px;
		}
		.lSNext {
			right: 15px;
			.nav-button-icon {
				&:before {
					content: '\f3d1';
				}
			}
		}
	}

	.lSSlideOuter {
		.lSPager.lSGallery {
			li {
				opacity: 0.5;
				@include transit;
				&.active, &:hover {
					border-radius: 0;
					opacity: 1;
				}
			}
		}
	}

	.caption {
		position: absolute;
		bottom: 0;
		color: #888;
		background-color: rgba(255,255,255,.8);
		font-size: 15px;
		font-style: italic;
		padding: 15px 20px;
		width: 100%;
	}

}
