.wpcf7 {
	.wpcf7-response-output {
		margin: 30px 0 0;
		padding: 15px 20px;
		border: 0;
		color: #333;
	}

	.wpcf7-validation-errors {
		background: #f0ad4e;
	}

	.wpcf7-mail-sent-ok {
		background: #5cb85c;
	}

	.wpcf7-not-valid-tip {
		margin-top: 5px;
		color: #d9534f;
		font-size: 12px;
	}
}

.tm-contact-form-7 {
	.wpcf7-form {
		br {
			display: none;
		}
	}

	.row {
		margin-left: -10px;
		margin-right: -10px;
	}

	[class*='col-'] {
		padding-left: 10px;
		padding-right: 10px;
	}

	.form-item {
		position: relative;

		&.has-icon {
			.wpcf7-text,
			.wpcf7-date {
				padding-right: 40px;
			}
		}
	}

	.form-icon {
		font-size: 20px;
		position: absolute;
		top: 50%;
		right: 15px;
		line-height: 0;
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 20px;
	}

	.wpcf7-textarea {
		margin-bottom: 30px;
		height: 150px;
	}

	.ajax-loader {
		display: none !important;
	}

	.wpcf7-submit {
		display: block;
		margin: 0;
	}

	&.style-01 {
		.wpcf7-submit {
			margin: 20px auto 0;
		}

		.row {
			margin-left: -25px;
			margin-right: -25px;
		}

		[class*='col-'] {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	&.style-02 {
		.wpcf7-text,
		.wpcf7-date,
		.wpcf7-select,
		.wpcf7-textarea {
			background-color: #ffffff;
			border: 1px solid #dddddd;
			padding: 0 15px;
		}

		.wpcf7-textarea {
			background-color: #ffffff;
			border: 1px solid #dddddd;
			height: 120px;
			margin-bottom: 40px;
			padding: 10px 15px;
		}

		.wpcf7-submit {
			background-color: #222222;
			border-color: #222222;
			color: #ffffff;
			margin: 0 auto;

			&:hover {
				border-color: transparent;
			}
		}
	}

	&.style-03 {
		.wpcf7-text,
		.wpcf7-date,
		.wpcf7-select,
		.wpcf7-textarea {
			background-color: #ffffff;
			border: 0;
			padding: 0 15px;
		}

		.wpcf7-email {

		}

		.wpcf7-textarea {
			background-color: #ffffff;
			border: 1px solid #dddddd;
			height: 120px;
			margin-bottom: 40px;
		}

		.wpcf7-submit {
			color: #ffffff;
			width: 100%;

			&:hover {
				background-color: transparent;
			}
		}
	}
	&.style-04 {
		.row {
			margin-left: -15px;
			margin-right: -15px;
		}

		[class*='col-'] {
			padding-left: 15px;
			padding-right: 15px;
		}
		.wpcf7-form {
			border: 1px solid #eee;
			background-color: #f7f7f7;
			padding: 40px 30px 50px;
		}
		.wpcf7-form-control-wrap {
			margin-bottom: 30px;
		}
		.wpcf7-text,
		.wpcf7-date,
		.wpcf7-select,
		.wpcf7-textarea {
			background-color: #ffffff;
			border: 1px solid #dddddd;
			padding: 0 15px;
		}

		.wpcf7-textarea {
			background-color: #ffffff;
			border: 1px solid #dddddd;
			height: 120px;
			margin-bottom: 40px;
			padding: 10px 15px;
		}
	}

}

.form-online-support {
	padding: 44px 35px 62px;
	background: #eeeeee url(assets/images/icon-envelope-open.png) no-repeat bottom right;
	border-radius: 5px;

	.form-title {
		font-size: 30px;
		margin-bottom: 38px;
		line-height: 1.66;
	}

	select,
	input[type='text'],
	input[type='email'],
	input[type='url'],
	input[type='password'],
	input[type='search'],
	input[type='number'],
	input[type='tel'] {
		height: 50px;
		background: #ffffff;
	}

	.wpcf7-textarea {
		height: 125px;
		background: #ffffff;
	}

	input[type='submit'],
	input[type='reset'],
	button {
		height: 50px;
		line-height: 46px;
		padding: 0 22px;
	}
}

.wrap-style-01 {
	padding: 63px 30px 74px;
	background: #ffffff;
	box-shadow: 0 2px 40px rgba(0, 0, 0, .15);

	.form-title {
		text-align: center;
		font-size: 36px;
		margin-bottom: 49px;
	}
}

.wrap-style-02 {
	padding: 84px 45px 85px;
	background: #ffffff url(assets/images/icon-money-bag.png) no-repeat top right -30px;

	.form-title {
		font-size: 36px;
		margin-bottom: 47px;
	}
}

@include media-breakpoint-down(sm) {
	.wrap-style-02 {
		padding: 60px 30px;

		.form-title {
			font-size: 28px;
		}
	}
}
