.tm-sticky-list {
	list-style: none;
	padding: 10px 0;
	margin: 0;
	background-color: #eee;
	text-align: center;

	.list-item {
		display: inline-block;
		margin: 0 15px;
	}

	a {
		display: inline-block;
		padding: 5px;
	}
}
