.tm-rotate-box {
	position: relative;
	
	.flipper {
		position: relative;
		
		&:hover {
			.box {
				transform-style: preserve-3d;
				transition: transform 1s cubic-bezier(.3, 1, .6, 1);
			}
		}
	}
	
	.to-left,
	.to-right {
		.front {
			transform: rotateY(0deg);
		}
	}
	
	.to-top,
	.to-bottom {
		.front {
			transform: rotateX(0deg);
		}
	}
	
	.to-top {
		.back {
			transform: rotateX(-180deg);
		}
		&:hover {
			.front {
				transform: rotateX(180deg);
			}
			.back {
				transform: rotateX(0deg);
			}
		}
	}
	
	.to-bottom {
		.back {
			transform: rotateX(180deg);
		}
		
		&:hover {
			.front {
				transform: rotateX(-180deg);
			}
			.back {
				transform: rotateX(0deg);
			}
		}
	}
	
	.to-left {
		.back {
			transform: rotateY(180deg);
		}
		
		&:hover {
			.front {
				transform: rotateY(-180deg);
			}
			.back {
				transform: rotateY(0deg);
			}
		}
	}
	
	.to-right {
		.back {
			transform: rotateY(-180deg);
		}
		
		&:hover {
			.front {
				transform: rotateY(180deg);
			}
			.back {
				transform: rotateY(0deg);
			}
		}
	}
	
	.thumb-wrap {
		-webkit-perspective: 1000px;
		perspective: 1000px;
	}
	
	.box {
		background-size: cover;
		min-height: 370px;
		z-index: 1;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		perspective: inherit;
		transition: transform .8s cubic-bezier(.5, .2, .2, .8);
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: inherit;
		}
	}
	
	.box-outer {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	.box-inner {
		display: table;
		height: 100%;
		width: 100%;
	}
	
	.box-content {
		display: table-cell;
		vertical-align: middle;
	}
	
	.back {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.content-wrap {
		width: 100%;
		display: block;
		transform-style: preserve-3d;
		perspective: inherit;
		backface-visibility: hidden;
		padding: 50px 30px;
		z-index: 2;
	}

	&.style-1 {
		text-align: center;
		.heading {
			font-size: 24px;
			color: #ffffff;
			margin-bottom: 0;
		}

		.text {
			color: rgba(255, 255, 255, .55);
			margin: 32px auto 0;
			max-width: 420px;
		}

		.tm-button {
			margin-top: 78px;
			color: #fff;
		}
	}

	&.style-2 {
		.box-content {
			vertical-align: bottom;
		}

		.heading {
			position: relative;
			font-size: 20px;
			color: #222;
			padding: 10px 70px 10px 18px;
			background-color: #fff;
			margin-bottom: 0;
			min-height: 70px;
			display: flex;
			align-items: center;
			&:after {
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);
				content: '\f125';
				font-family: Ionicons;
				display: inline-block;
				font-size: 16px;
				font-weight: 500;
				height: 50px;
				width: 50px;
				line-height: 50px;
				text-align: center;
				color: #fff;
				background-color: $color__primary;
			}
		}

		.text {
			margin-top: 30px;
			color: #fff;
		}

		.tm-button {
			margin-top: 78px;
		}
	}
}
