.tm-view-demo {
	text-align: center;

	&.style-01 {
		.item-wrap {
			@extend %transit;

			&:hover {
				transform: translateY(-10px);

				.thumbnail {
					box-shadow: 0 20px 40px rgba(0, 0, 0, .16);
				}

				.overlay {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.thumbnail {
			@extend %transit;
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, .17);

			> img {
				border-radius: inherit;
				width: 100%;
			}
		}

		.heading {
			font-size: 18px;
			margin-bottom: 10px;
			white-space: normal;
		}

		.overlay {
			@extend %transit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			visibility: hidden;
			opacity: 0;
			background: rgba(0, 0, 0, .1);
		}

		.badge {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 50px;
		}
	}

	&.style-02 {
		.item-wrap {
			@extend %transit;

			&:hover {
				.overlay {
					visibility: visible;
					opacity: 1;
				}

				.thumbnail {
					&:before {
						opacity: 1;
						visibility: visible;
						transform: translate(-50%, -50%);
					}
				}
			}
		}

		.thumbnail {
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;

			> img {
				width: 100%;
			}

			&:before {
				@extend %transit2;
				content: '\f489';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, calc(-50% + 20px));
				color: #222;
				font-family: Ionicons;
				font-size: 32px;
				font-weight: 500;
				width: 80px;
				height: 80px;
				background-color: $color__primary;
				text-align: center;
				line-height: 80px;
				border-radius: 100%;
				opacity: 0;
				visibility: hidden;
				z-index: 2;
			}
		}

		.badge {
			position: absolute;
			top: 0;
			left: 0;
		}

		.heading {
			font-size: 20px;
			margin-bottom: 10px;
			color: #fff;
			white-space: normal;
		}

		.overlay {
			@extend %transit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			visibility: hidden;
			opacity: 0;
			background: rgba(0, 0, 0, .5);
		}

		.coming-item {
			.overlay {
				visibility: visible;
				opacity: 1;
				background: rgba(0, 0, 0, .3);
			}
		}
	}
}
