.tm-circle-progress-chart {
	text-align: center;

	.chart {
		position: relative;
		margin: 0 auto 50px;
		width: 126px;
		height: 126px;

		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.inner-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.chart-number {
		font-size: 42px;
		line-height: 1;
		margin-bottom: 0;

		span {
			vertical-align: super;
			font-size: 20px;
		}
	}

	.chart-icon {
		font-size: 60px;
		line-height: 1;
	}

	.inner-circle {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	.title-wrap {
		margin-bottom: 30px;
	}

	.title {
		font-size: 24px;
	}
}
