.tm-list {
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 30px;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.list-item {
		position: relative;
		display: flex;
	}

	.link {
		padding: 0;
		color: currentColor;
	}

	.marker {
		@extend %transit;
		flex-shrink: 0;
		margin-right: 10px;
	}

	&.style-circle {
		.list-item {
			padding-left: 15px;
		}

		.marker {
			&:before {
				position: absolute;
				top: 4px;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f400';
				font-size: 10px;
			}
		}
	}

	&.style-check {
		.list-item {
			padding-left: 15px;
		}

		.marker {
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f122';
				font-size: 12px;
			}
		}
	}

	&.style-icon {
		.marker {
			font-size: 20px;
		}
	}

	&.style-modern-list {
		grid-row-gap: 20px;

		.list-item {
			+ .list-item {
				border-top: 1px solid #eee;
				padding-top: 20px;
			}
		}

		.marker {
			font-size: 32px;
			margin-right: 20px;
		}

		.item-title {
			font-size: 18px;
			font-weight: 500;
			color: $color__heading;
		}

		.item-desc {

		}
	}

	&.style-auto-numbered,
	&.style-manual-numbered {
		grid-row-gap: 35px;

		.marker {
			font-weight: 500;
			width: 38px;
			height: 38px;
			line-height: 38px;
			text-align: center;
			border-radius: 50%;
			color: #fff;
			background-color: red;
			vertical-align: middle;
			margin-top: -6px;
		}
	}
}
