.single-job_listing {
	.post-meta {
		font-size: 13px;
		font-weight: 700;
		color: #b5b5b5;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-bottom: 1px solid #eeeeee;
		margin-bottom: 10px;
		padding-bottom: 10px;

		> * {
			display: inline-block;
		}

		> div + div {
			&:before {
				content: '';
				width: 6px;
				height: 6px;
				display: inline-block;
				background-color: #ddd;
				border-radius: 50%;
				margin: 0 15px 2px;
			}
		}
	}
}

.job_filters .search_jobs input, .job_filters .search_jobs select {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
