.sticky {
	.post-sticky {
		margin-left: 14px;
		color: #c0c0c0;
		font-weight: 600;
	}
	
	span {
		font-size: 18px;
		margin-right: 4px;
	}
}

.post-password-form {
	input[type='submit'] {
		display: block;
		margin: 30px 0 0;
	}
}

.entry-content {
	p:last-child {
		clear: both;
	}
}

.single-post {
	
	&.page-has-sidebar {
		.page-content {
			padding-top: 120px;
		}
	}
	
	.entry-banner {
		position: relative;
		padding: 138px 0 70px;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, .45);
		}
		
		.entry-title {
			color: #ffffff;
			line-height: 1.04em;
			margin-bottom: 25px;
		}
		
		.post-meta {
			color: #ffffff;
			
			a {
				color: inherit;
			}
			
			.sl-icon,
			.meta-icon {
				color: #ffffff;
			}
		}
	}
	
	.page-main-content {
		position: relative;
		min-height: 1px;
		padding-left: .9375rem;
		padding-right: .9375rem;
		width: 100%;
	}
	
	.entry-header {
		margin-bottom: 37px;
		padding-bottom: 26px;
		border-bottom: 1px solid #e9e9e9;
	}
	
	.entry-title {
		font-size: 40px;
		margin: 0 0 20px;
	}
	
	.post-feature {
		margin-bottom: 40px;
		&.post-gallery {
			margin: 0 0 40px;
			.swiper-container {
				padding: 0;
			}
		}
	}
	
	.entry-content {
		@extend %clearfix;
		margin-bottom: 80px;
	}
	
	.post-thumbnail {
		text-align: center;
	}
	
	.post-tags {
		span {
			font-size: 13px;
			font-weight: 700;
			letter-spacing: 0.54px;
			text-transform: uppercase;
			margin-right: 20px;
			&:before {
				content: '\f2aa';
				font-family: Ionicons;
				font-size: 18px;
				font-weight: 500;
				margin-right: 9px;
			}
		}
		
		a {
			display: inline-block;
			padding: 4px 10px;
			color: inherit;
			border: 1px solid #ddd;
			margin: 5px;
			font-weight: 400;
			
			&:hover {
				color: #fff;
				border-color: transparent;
			}
		}
	}
	
	.post-categories {
		margin: 0 -5px 18px;
		a {
			display: inline-block;
			color: #222;
			font-size: 13px;
			font-weight: 500;
			border: 1px solid #ddd;
			padding: 5px 7px;
			margin: 5px;
			
			&:hover {
				color: #fff;
			}
		}
	}
	
	.post-meta {
		font-size: 13px;
		font-weight: 700;
		color: #b5b5b5;
		text-transform: uppercase;
		letter-spacing: 1px;
		
		> * {
			display: inline-block;
		}
		> div + div {
			&:before {
				content: '';
				width: 6px;
				height: 6px;
				display: inline-block;
				background-color: #ddd;
				border-radius: 50%;
				margin: 0 15px 2px;
			}
		}
	}
	
	.entry-footer {
		border-top: 1px solid #e9e9e9;
		padding-top: 30px;
		.row {
			margin-bottom: 45px;
		}
	}
	
	.post-video,
	.post-link,
	.post-quote {
		margin-bottom: 46px;
	}
	
	.post-audio {
		margin-bottom: 38px;
		iframe {
			width: 100%;
			height: 165px;
			border: 0;
		}
	}
	
	.post-link {
		padding: 82px 100px;
		font-size: 24px;
		line-height: 1.5;
		a {
			word-wrap: break-word;
		}
	}
	
	.post-quote {
		position: relative;
	}
	
	.post-quote-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .8;
	}
	
	.post-quote-content {
		position: relative;
		padding: 63px 100px 67px;
		background: url(assets/images/blog-quote-icon.png) no-repeat 65px 35px;
		border: 2px solid $color__primary;
	}
	
	.post-quote-text {
		margin-bottom: 40px;
		color: #222;
		font-size: 24px;
		font-style: italic;
		font-weight: 500;
		line-height: 1.5;
	}
	
	.post-quote-name {
		font-size: 24px;
		font-weight: 700;
		text-decoration: underline;
		a {
			color: #222;
		}
	}
	
	.format-gallery {
		.post-feature {
			&.tm-swiper .swiper-pagination {
				bottom: 30px;
			}
		}
	}
}

.post-share {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	.post-share-title {
		font-weight: 700;
		margin-right: 20px;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 0.54px;
		&:before {
			content: '\f2f8';
			font-family: Ionicons;
			font-size: 18px;
			font-weight: 500;
			margin-right: 9px;
			color: red;
		}
	}
	
	.post-share-list {
		@extend %clearfix;
		a {
			display: block;
			float: left;
			text-align: center;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			border: 1px solid #eeeeee;
			border-radius: 50%;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
			
			&:hover {
				color: #fff;
				border-color: transparent;
			}
		}
	}
}

.related-posts {
	
	.related-title {
		margin-top: 80px;
		margin-bottom: 30px;
		font-size: 30px;
	}
	
	.related-post-item {
		width: 100%;
	}


	.post-item-wrap {
		height: 100%;
		margin-top: 30px;

		&:hover {
			.post-feature-wrap {
				img {
					transform: scale3d(1.15, 1.15, 1.15);
				}
			}
		}
	}

	.related-post-feature-wrap {
		@extend %transit;
		position: relative;
		margin-bottom: 30px;

		img {
			width: 100%;
			transition: all 1s cubic-bezier(0, 0, .2, 1);
		}
	}

	.related-post-thumbnail {
		overflow: hidden;
	}

	.related-post-date {
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		padding: 5px 11px;
	}

	.related-post-categories {
		margin-bottom: 11px;
	}

	.post-title {
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 1.4;
		a {
			color: inherit;
			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}

.entry-author {
	margin-top: 95px;
	padding: 50px 46px;
	border: 1px solid #eeeeee;
	
	.author-info {
		display: flex;
	}
	
	.author-avatar {
		min-width: 100px;
		width: 100px;
		img {
			border-radius: 100%;
		}
	}
	
	.author-description {
		margin-left: 32px;
	}
	
	.author-name {
		margin-bottom: 8px;
		font-size: 18px;
	}
	
	.author-biographical-info {
		margin-top: 15px;
		
		p:last-child {
			margin-bottom: 0;
		}
	}
	
	.author-social-networks {
		@extend %clearfix;
		margin: 15px -10px 0;
		
		a {
			display: block;
			float: left;
			padding: 6px 10px;
			font-size: 18px;
			line-height: 1;
		}
	}
}

@include media-breakpoint-down(sm) {
	.entry-author {
		padding: 30px;
	}
	
	.post-share {
		margin-top: 15px;
		justify-content: flex-start;
	}
}
