.single-project {
	
	.page-main-content {
		position: relative;
		min-height: 1px;
		padding-left: .9375rem;
		padding-right: .9375rem;
		width: 100%;
	}

	&.header-sticky-both .headroom.headroom--not-top .page-header-inner {
		position: static;
	}
}
