.tagcloud {
	@extend %clearfix;
	margin: -5px;
	a {
		display: block;
		float: left;
		font-size: 15px !important;
		font-weight: 400;
		background: #ffffff;
		border: 0;
		padding: 3px 10px;
		margin: 5px;
		color: #999;
		
		&:hover {
			box-shadow: none;
			color: #222;
		}
	}
}
