@font-face {
	font-family: 'tractor';
	src:  url('tractor.eot');
	src:  url('tractor.eot#iefix') format('embedded-opentype'),
	url('tractor.ttf') format('truetype'),
	url('tractor.woff') format('woff'),
	url('tractor.svg#tractor') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="tractor-icon-"], [class*=" tractor-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'tractor' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tractor-icon-agent:before {
	content: "\e900";
}
.tractor-icon-agent2:before {
	content: "\e901";
}
.tractor-icon-blueprint:before {
	content: "\e902";
}
.tractor-icon-blueprint2:before {
	content: "\e903";
}
.tractor-icon-building:before {
	content: "\e904";
}
.tractor-icon-chat-bubble:before {
	content: "\e905";
}
.tractor-icon-clock:before {
	content: "\e906";
}
.tractor-icon-flats:before {
	content: "\e907";
}
.tractor-icon-gavel:before {
	content: "\e908";
}
.tractor-icon-house-key:before {
	content: "\e909";
}
.tractor-icon-house-plan:before {
	content: "\e90a";
}
.tractor-icon-key:before {
	content: "\e90b";
}
.tractor-icon-location-pin:before {
	content: "\e90c";
}
.tractor-icon-paper:before {
	content: "\e90d";
}
.tractor-icon-percentage:before {
	content: "\e90e";
}
.tractor-icon-skycraper:before {
	content: "\e90f";
}
