// Wishlist
.woosw-list table.woosw-content-items .woosw-content-item .woosw-content-item--remove span:before {
	font-family: 'Ionicons' !important;
	content: '\f2d7' !important;
}

.woosw-area {
	.woosw-inner {
		.woosw-content {
			max-width: 570px;

			.woosw-content-mid table.woosw-content-items .woosw-content-item .woosw-content-item--remove {
				padding: 0 !important;

				> span {
					width: 30px !important;
					height: 30px !important;

					&:before {
						font-family: 'Ionicons' !important;
						content: '\f2d7' !important;
					}
				}
			}
		}
	}

	.woosw-content-item--add {
		min-width: 140px;
	}

	.woosw-content {
		.button {
			height: 50px !important;
			line-height: 46px !important;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			letter-spacing: 1px;
		}
	}

	.woosw-page {
		a {
			font-weight: 700;
			font-size: 13px;
			letter-spacing: 1px;
		}
	}

	.woosw-continue {
		@extend %transit2;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 13px;
	}
}

// Quick View
#woosq-popup {
	.slick-slider {
		.slick-arrow {
			border: none;
		}
	}
}

// Compare
.wooscp-area {
	.wooscp-inner {
		.wooscp-table .wooscp-table-inner {
			border-radius: 0 !important;
		}
		.wooscp-bar {
			.wooscp-bar-btn, .wooscp-bar-item, .wooscp-bar-item img {
				border-radius: 0 !important;
			}
		}
	}
}
