.top-bar-01 {
	.top-bar-wrap {
		height: 100%;
	}

	.top-bar-button {
		white-space: nowrap;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		padding: 16px 21px;
		letter-spacing: 1px;
		color: #ffffff !important;
		line-height: 1.18;
		margin-left: 25px;
	}

	.top-bar-link-list {
		margin: 0 -10px;

		.link-item {
			margin: 5px 0;
			padding: 0 10px;
		}

		a {
			.text {
				@extend %LinkTransition;
			}
		}
	}

	.top-bar-social-network {
		@extend %clearfix;
		margin: 0 -12px;

		.social-link {
			float: left;
			text-align: center;
			padding: 10px 12px;
			font-size: 16px;
			line-height: 1;
		}
	}
}

@include media-breakpoint-down(md) {
	.top-bar-01 {
		//display: none;
	}
}
