.page-scroll-up {
	@extend %transit2;
	position: fixed;
	right: 30px;
	bottom: -60px;
	z-index: 999;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
	display: block;
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	line-height: 60px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;

	i {
		color: #ffffff;
	}

	&.show {
		bottom: 30px;
		opacity: 1;
		visibility: visible;
	}

	&:hover {
		opacity: .8;
	}
}
