html {
	//scroll-behavior: smooth;
}

.sticky {
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999999999;
	transition: all 1s;

	.admin-bar & {
		top: 32px;
	}
}

.single-project {
	.page-content {
		padding-top: 0;
	}

	.project-feature {
		height: 80vh;
		background-position: center center;
		background-size: cover;
	}
}
